@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--primary-color);
  list-style: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 20px 200px;
  background-color: var(--background-color);
}

:root {
  --dark-green: #1D372D;
  --neon-green: #00FF9D;
  --primary-color: #D3D3D3;
  --background-color: #0F111A;
  --background-card-color: #1E1E1E;
  --background-card-color-hover: #212121;
  --white: #fff;
  --title-font: 36px;
  --text-font: 22px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h2 {
  font-size: 28px;
  font-weight: 600;
}
.header h2 span {
  font-weight: 400;
}
.header .links {
  display: flex;
  gap: 30px;
  font-weight: 600;
}
.header .links a {
  transition: all 0.1s ease-in-out;
}
.header .links a:hover {
  color: var(--neon-green);
}

.profile {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin: 80px 0 0 0;
}
.profile .infos {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.profile .infos h2 {
  font-size: var(--text-font);
}
.profile .infos h1 {
  font-size: 110px;
  line-height: 105%;
}
.profile .infos ul {
  display: flex;
  gap: 40px;
}
.profile .infos ul li a {
  font-weight: 600;
  font-size: var(--text-font);
  transition: all 0.3s linear;
}
.profile .infos ul li a:hover {
  border-bottom: 1px solid var(--neon-green);
  color: var(--neon-green);
}
.profile .infos .text {
  font-size: 21px;
  line-height: 135%;
}
.profile .image img {
  width: 400px;
  height: 400px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  border: 4px solid var(--primary-color);
  border-radius: 50%;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 180px 0 0 0;
}
.skills .skills-title {
  color: var(--neon-green);
  font-size: var(--title-font);
}
.skills .skills-infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.skills .skills-infos .skills-formations {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.skills .skills-infos .skills-formations h2 {
  font-size: 24px;
}
.skills .skills-infos .skills-formations h2 span {
  color: var(--neon-green);
}
.skills .skills-infos .skills-formations .skills-formations-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 1px solid #36393b;
  border-radius: 12px;
  transition: all 0.1s linear;
  background-color: var(--background-card-color);
}
.skills .skills-infos .skills-formations .skills-formations-card .skills-formations-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-card-color);
}
.skills .skills-infos .skills-formations .skills-formations-card .skills-formations-title p {
  color: var(--neon-green);
  background-color: var(--dark-green);
  padding: 8px 12px;
  border-radius: 50px;
  font-size: 10px;
}
.skills .skills-infos .skills-formations .skills-formations-card .skills-formations-title h2 {
  font-size: 18px;
}
.skills .skills-infos .skills-formations .skills-formations-card .institution {
  color: var(--neon-green);
}
.skills .skills-infos .skills-formations .skills-formations-card p {
  line-height: 145%;
}
.skills .skills-infos .skills-formations .skills-formations-card:hover {
  border: 1px solid var(--neon-green);
  transform: translateY(-10px);
}
.skills .skills-infos .skills-experiences {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.skills .skills-infos .skills-experiences h2 {
  font-size: 24px;
}
.skills .skills-infos .skills-experiences h2 span {
  color: var(--neon-green);
}
.skills .skills-infos .skills-experiences .skills-experiences-card {
  display: flex;
  gap: 20px;
}
.skills .skills-infos .skills-experiences .skills-experiences-card .division-line {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills .skills-infos .skills-experiences .skills-experiences-card .division-line .ball {
  width: 15px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--neon-green);
}
.skills .skills-infos .skills-experiences .skills-experiences-card .division-line .line {
  width: 1px;
  height: 100%;
  background-color: var(--neon-green);
}
.skills .skills-infos .skills-experiences .skills-experiences-card .skills-experiences-card-infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.skills .skills-infos .skills-experiences .skills-experiences-card .skills-experiences-card-infos h2 {
  font-size: 18px;
}
.skills .skills-infos .skills-experiences .skills-experiences-card .skills-experiences-card-infos .institution {
  color: var(--neon-green);
}
.skills .skills-infos .skills-experiences .skills-experiences-card .skills-experiences-card-infos p {
  line-height: 145%;
}

.tecnologies {
  margin: 180px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.tecnologies h2 {
  font-size: var(--title-font);
}
.tecnologies .tecnologies-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tecnologies .tecnologies-title h2 {
  color: var(--neon-green);
}
.tecnologies .tecnologies-title p {
  font-size: 20px;
}
.tecnologies .tecnologies-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.tecnologies .tecnologies-cards .card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-card-color);
  gap: 20px;
  padding: 25px 35px;
  border-radius: 8px;
  width: 25vw;
  transition: all 0.1s linear;
}
.tecnologies .tecnologies-cards .card h3 {
  color: var(--white);
  background-color: transparent;
}
.tecnologies .tecnologies-cards .card h3 span {
  background-color: transparent;
  color: var(--neon-green);
}
.tecnologies .tecnologies-cards .card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tecnologies .tecnologies-cards .card ul li {
  list-style: disc;
  margin-left: 30px;
}
.tecnologies .tecnologies-cards .card ul li::marker {
  color: var(--neon-green);
  background-color: var(--neon-green);
}
.tecnologies .tecnologies-cards .card:hover {
  background-color: var(--background-card-color-hover);
  transform: translateY(-10px);
}

.projects {
  margin: 160px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.projects .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.projects .title .project-title {
  color: var(--neon-green);
  font-size: var(--title-font);
}
.projects .title p {
  font-size: 20px;
}
.projects .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.projects .items .project {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 0 20px 0;
  background-color: var(--background-card-color);
  border-radius: 10px;
  transition: all 0.1s linear;
}
.projects .items .project img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.projects .items .project .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: var(--background-card-color);
}
.projects .items .project .description h2 {
  font-size: 18px;
  color: var(--white);
  background-color: var(--background-card-color);
}
.projects .items .project .description p {
  background-color: var(--background-card-color);
}
.projects .items .project .description .links {
  display: flex;
  gap: 10px;
  background-color: var(--background-card-color);
}
.projects .items .project .description .links a {
  font-size: 16px;
  transition: all 0.1s linear;
}
.projects .items .project .description .links a:hover {
  color: var(--neon-green);
}
.projects .items .project:hover {
  transform: translateY(-10px);
  box-shadow: 1px 16px 42px 6px rgb(90, 184, 146);
}

.certificates .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 100px 0 100px 0;
  font-size: var(--title-font);
}
.certificates .title h2 {
  color: var(--neon-green);
}
.certificates .title p {
  font-size: 20px;
}
.certificates .filter {
  margin: 0 0 100px 0;
}
.certificates .filter ul {
  display: flex;
  gap: 20px;
}
.certificates .filter ul li button {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.certificates .filter ul li .formations {
  border: 2px solid #118DD5;
}
.certificates .filter ul li .alura {
  border: 2px solid #41F0FD;
}
.certificates .filter ul li .rocketseat {
  border: 2px solid #7159C1;
}
.certificates .filter ul li .bradesco {
  border: 2px solid #DC1432;
}
.certificates .filter ul li .formations:focus {
  box-shadow: 0 5px 6px rgba(17, 141, 213, 0.5);
}
.certificates .filter ul li .alura:focus {
  box-shadow: 0 5px 6px rgba(65, 240, 253, 0.5);
}
.certificates .filter ul li .rocketseat:focus {
  box-shadow: 0 5px 6px rgba(113, 89, 193, 0.5);
}
.certificates .filter ul li .bradesco:focus {
  box-shadow: 0 5px 6px rgba(220, 20, 50, 0.5);
}
.certificates .filter ul li .all:focus {
  box-shadow: 0 5px 6px rgba(255, 255, 255, 0.5);
}
.certificates .certificate ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 60px;
}
.certificates .certificate ul li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.certificates .certificate ul li img {
  width: 300px;
  border-radius: 10px;
}
.certificates .certificate ul li a {
  width: 120px;
  transition: all 0.3s linear;
}
.certificates .certificate ul li a:hover {
  color: var(--neon-green);
}
.certificates .certificate ul .item {
  display: none;
}
.certificates .certificate ul .show {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 120px;
}
.contact .title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact .title h2 {
  font-size: var(--title-font);
  color: var(--neon-green);
}
.contact .title p {
  font-size: 20px;
}
.contact ul {
  display: flex;
  gap: 70px;
}
.contact ul li {
  display: flex;
  gap: 15px;
}
.contact ul li i {
  font-size: 30px;
  color: var(--neon-green);
}
.contact ul li .contact-infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact ul li .contact-infos h2 {
  font-size: 20px;
}
.contact ul li .contact-infos .social {
  display: flex;
  gap: 10px;
}
.contact ul li .contact-infos .social a {
  padding: 5px;
  transition: all 0.1s linear;
  border-radius: 50%;
}
.contact ul li .contact-infos .social a i {
  color: var(--primary-color);
}
.contact ul li .contact-infos .social a:hover {
  background-color: var(--neon-green);
}
.contact ul li .contact-infos .social a:hover i {
  color: var(--background-color);
}

.footer {
  background-color: var(--background-color);
  color: var(--primary-color);
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
.footer p {
  margin: 0;
  font-size: 14px;
}

@media (max-width: 1600px) {
  body .certificates .certificate ul li img {
    width: 14.5vw;
  }
}
@media (max-width: 890px) {
  body {
    padding: 40px;
  }
  body .profile {
    gap: 20px;
    align-items: center;
  }
  body .profile .infos .title h1 {
    font-size: 80px;
  }
  body .profile .infos ul {
    gap: 20px;
  }
  body .profile .infos ul li a {
    font-size: 19px;
  }
  body .profile .image img {
    height: 400px;
  }
  body .tecnologies .slider .img {
    flex-wrap: wrap;
    justify-content: center;
  }
  body .tecnologies .slider .img img {
    width: 60px;
  }
  body .projects .items {
    display: flex;
    flex-wrap: wrap;
  }
  body .projects .items .project img {
    width: 39vw;
  }
  body .certificates .certificate ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body .certificates .certificate ul li img {
    width: 25vw;
  }
}
@media (max-width: 769px) {
  body .profile .infos .title h1 {
    font-size: 70px;
  }
  body .profile .image img {
    height: 350px;
  }
  body .tecnologies .slider .img {
    flex-wrap: wrap;
    justify-content: center;
  }
  body .tecnologies .slider .img img {
    width: 60px;
  }
}
@media (max-width: 470px) {
  body {
    padding: 20px;
  }
  body .header {
    display: block;
  }
  body .header .links {
    display: none;
  }
  body .profile {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column-reverse;
  }
  body .profile .infos .title {
    display: flex;
    flex-direction: column;
  }
  body .profile .infos .title h1 {
    font-size: 30px;
  }
  body .profile .infos .text {
    order: 3;
    font-size: 18px;
  }
  body .profile .infos ul {
    display: none;
  }
  body .profile .image img {
    display: block;
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body .skills {
    margin-top: -60px;
  }
  body .skills .skills-infos {
    display: flex;
    flex-direction: column;
  }
  body .skills .skills-infos .skills-formations .skills-formations-card .skills-formations-title h2 {
    font-size: 16px;
    width: 70%;
  }
  body .tecnologies {
    margin: 40px 0 0 0;
  }
  body .tecnologies h2 {
    font-size: 24px;
  }
  body .tecnologies .tecnologies-cards {
    display: flex;
    flex-direction: column;
  }
  body .tecnologies .tecnologies-cards .card {
    width: 100%;
  }
  body .projects .title h2 {
    font-size: 24px;
  }
  body .projects .items {
    display: flex;
    flex-direction: column;
  }
  body .projects .items .project img {
    width: 80vw;
  }
  body .projects .items .project .description h2 {
    font-size: 18px;
  }
  body .projects .items .project .description .links a {
    font-size: 18px;
  }
  body .certificates .title h2 {
    font-size: 24px;
  }
  body .certificates .filter ul {
    display: flex;
    flex-wrap: wrap;
  }
  body .certificates .certificate ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body .certificates .certificate ul li {
    display: flex;
    flex-direction: column;
  }
  body .certificates .certificate ul li img {
    width: 100%;
  }
  body .contact ul {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */