.contact{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 120px;
    .title{
        display: flex;
        flex-direction: column;
        gap: 10px;
        h2{
            font-size: var(--title-font);
            color: var(--neon-green);
        }
        p{
            font-size: 20px;
        }
    }
    ul{
        display: flex;
        // flex-direction: column;
        gap: 70px;
        // justify-content: space-between;
        li{
            display: flex;
            // align-items: center;
            gap: 15px;
            i{
                font-size: 30px;
                color: var(--neon-green);
            }
            .contact-infos{
                display: flex;
                flex-direction: column;
                gap: 15px;
                h2{
                    font-size: 20px;
                }
                .social{
                    display: flex;
                    gap: 10px;
                    a{
                        padding: 5px;
                        transition: all 0.1s linear;
                        border-radius: 50%;
                        i{
                            color: var(--primary-color);
                        }
                    }
                    a:hover{
                        background-color: var(--neon-green);
                        i{
                            color: var(--background-color);
                        }
                    }
                }
            }
        }
    }
}