.footer {
    background-color: var(--background-color);
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    margin-top: 100px;

    p {
        margin: 0;
        font-size: 14px;
    }
}