.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
        font-size: 28px;
        font-weight: 600;

        span {
            font-weight: 400;
        }
    }

    .links {
        display: flex;
        gap: 30px;
        font-weight: 600;

        a {
            transition: all 0.1s ease-in-out;
        }

        a:hover {
            color: var(--neon-green);
        }
    }
}