@media (max-width: 1600px){
    body{
        .certificates{
            .certificate{
                ul{
                    li{
                        img{
                            width: 14.5vw;
                        }
                    }
                }
            }
        }
    }
}


// Responsividade para Tablet
@media (max-width: 890px) {
    body{
        padding: 40px;
        .profile{
            gap: 20px;
            align-items: center;
            .infos{
                .title{
                    h1{
                        font-size: 80px;
                    }
                }
                ul{
                    gap: 20px;
                    li{
                        a{
                            font-size: 19px;
                        }
                    }
                }
            }
            .image{
                img{
                    height: 400px;
                }
            }
        }
        .tecnologies{
            .slider{
                .img{
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        width: 60px;
                    }
                }
            }
        }
        .projects{
            .items{
                display: flex;
                flex-wrap: wrap;
                .project{
                    img{
                        width: 39vw;
                    }
                }
            }
        }
        .certificates{
            .certificate{
                ul{
                    grid-template-columns: 1fr 1fr 1fr;
                    li{
                        img{
                            width: 25vw;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 769px) {
    body{
        .profile{
            .infos{
                .title{
                    h1{
                        font-size: 70px;
                    }
                }
            }
            .image{
                img{
                    height: 350px;
                }
            }
        }
        .tecnologies{
            .slider{
                .img{
                    flex-wrap: wrap;
                    justify-content: center;
                    img{
                        width: 60px;
                    }
                }
            }
        }
    }
}

// Responsividade para Mobile
@media (max-width: 470px) {
    body{
        padding: 20px;
        .header{
            display: none;
        }
        .profile{
            margin: 40px 0 0 0;
            .infos{
                display: flex;
                align-items: center;
                justify-content: center;
                .title{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h1{
                        font-size: 30px;
                    }
                }
                .text{
                    order: 3;
                    text-align: center;
                    font-size: 18px;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    li{
                        a{
                            font-size: 18px;
                        }
                    }
                }
            }
            .image{
                display: none;
            }
        }
        .tecnologies{
            margin: 40px 0 0 0;
            h2{
                font-size: 24px;
            }
            .slider{
                .img{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
        .projects{
            .title{
                h2{
                    font-size: 24px;
                }
            }
            .items{
            display: flex;
            flex-direction: column;
                .project{
                    img{
                        width: 80vw;
                    }
                    .description{
                        h2{
                            font-size: 18px;
                        }
                        .links{
                            a{
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

        }
        .certificates{
            .title{
                h2{
                    font-size: 24px;
                }
            }
            .filter{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            .certificate{
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    li{
                        display: flex;
                        flex-direction: column;
                        img{
                            width: 35vw;
                        }
                    }
                }
            }
        }
    }
}

