@media (max-width: 440px) {
    body{
        padding: 20px;
        .header{
            display: none;
        }
        .profile{
            margin: 40px 0 0 0;
            .infos{
                display: flex;
                align-items: center;
                justify-content: center;
                .title{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h1{
                        font-size: 30px;
                    }
                }
                .text{
                    order: 3;
                    text-align: center;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                }
            }
            .image{
                display: none;
            }
        }
        .tecnologies{
            margin: 40px 0 0 0;
            .slider{
                .img{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
        .projects{
            .items{
            display: flex;
            flex-direction: column;
                .project{
                    img{
                        width: 80vw;
                    }
                }
            }

        }
    }
}