:root{
    --dark-green: #1D372D;
    --neon-green: #00FF9D;
    --primary-color: #D3D3D3;
    --background-color: #0F111A;
    --background-card-color: #1E1E1E;
    --background-card-color-hover: #212121;
    --white: #fff;
    --title-font: 36px;
    --text-font: 22px;
}